body{
    background: lightgray;
}

.jumbotron {
    background: lightslategray;
}

.responsetitle {
    font-family: 'Acme', sans-serif;
    font-size: 45px;
    color: darkblue;
}

i {
    font-size: 50px;
}

.fas {
    color: rgb(34,42,53);
    height: 75px;
}

.far {
    color: rgb(34,42,53)n;
    height: 75px;
}

.container {
    margin-bottom: 30px;
}

.betweenarticles {
    margin-bottom: 15px;
}

.extended {
    font-family: 'Acme', sans-serif;
    color: rgb(51,63,80);
}

.firstresponse {
    font-family: 'Acme', sans-serif;
    color: rgb(51,63,80);
}

.display-4 {
    font-size: 75px;
    color: darkblue;
}

.lead {
    color: rgb(51,63,80);
}

.btn-secondary {
    background-color: lightcyan;
    color:  darkblue;
    font-family: 'Acme', sans-serif;
    font-size: 15px;
}